<header class='hero'>
	<nav class='nav'>
		<div class='nav-container'>
			<div class='nav-links'>
				<a href='#projects' data-lang='de'>{{ site.data.de.ui.projects_title }}</a>
				<a href='#projects' data-lang='en' style='display: none;'>{{ site.data.en.ui.projects_title }}</a>
				<a href='#about' data-lang='de'>{{ site.data.de.ui.about_title }}</a>
				<a href='#about' data-lang='en' style='display: none;'>{{ site.data.en.ui.about_title }}</a>
				<a href='#experience' data-lang='de'>{{ site.data.de.ui.experience_title }}</a>
				<a href='#experience' data-lang='en' style='display: none;'>{{ site.data.en.ui.experience_title }}</a>
				<a href='#contact' data-lang='de'>{{ site.data.de.ui.contact_title }}</a>
				<a href='#contact' data-lang='en' style='display: none;'>{{ site.data.en.ui.contact_title }}</a>
			</div>
			<button class='lang-toggle' id='langToggle' aria-label='Toggle language'>
				<span class='lang-option' data-lang-option='de'>DE</span>
				<span class='lang-separator'>/</span>
				<span class='lang-option' data-lang-option='en'>EN</span>
			</button>
		</div>
	</nav>

	<div class='hero-content'>
		<h1 class='fade-in'>{{ site.author.name }}</h1>
		<p class='tagline fade-in' data-lang='de'>{{ site.data.de.ui.tagline }}</p>
		<p class='tagline fade-in' data-lang='en' style='display: none;'>{{ site.data.en.ui.tagline }}</p>
		<a href='#projects' class='cta-button fade-in' data-lang='de'>{{ site.data.de.ui.cta }}</a>
		<a href='#projects' class='cta-button fade-in' data-lang='en' style='display: none;'>{{ site.data.en.ui.cta }}</a>
	</div>

	<a href='#projects' class='scroll-hint' aria-label='Scroll down'>
		<span class='scroll-arrow'>↓</span>
	</a>
</header>
